@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&display=swap');
body {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background-color: #fff;
    height: 200vh;
    position: relative;
}



p {
    color: #b3b3b3;
    font-weight: 300;
}



a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}






.yen {
    position: absolute;
    left: 2.02%;
    right: 91.04%;
    top: 21.35%;
    bottom: 0%;
    height: 70px;
    width: 93px;
    
}


.splide__track{
    margin-top:70px;
}



.splide__track img{
    height: 370.74px;
    width: 303.68px;
}

.bg2 {
    background-image: url('../../img/bg2.jpg');
    height: 940px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.bg2 button{
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 2px solid black;
    border-radius: 23px;
    color:white;
    border-color:white;
    padding: 7px 15px 7px 15px;
}



.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;

    float: left;
    margin: 16px 66px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: left;
    margin: 0;
    padding-left: 150px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}




.wrapper {
    object-fit: cover;
    object-position: 0% 24%; 
    height: 940px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.menu {
    display: inline;
}

.midcontent .midbg1{
    background-image:url('../img/signature_bg.png');
    width: 588px;
    height: 730.17px;
    display: inline-block;
    margin-right:190px;
    
}

.midcontent .midbg2{
    width: 588px;
    height: 730.17px;
    display: inline-block;
    background-image:url('/..img/workshop_bg.jpg');
    background-repeat:no-repeat;

}